@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome, @Model.Name !</h1>
    }else
    {
        <h1 class="display-4">

            <a>You can </a>
            <a asp-controller="User" asp-action="Login" id="log">log in</a>
            <a> or </a>
            <a asp-controller="User" asp-action="Register" id="reg">register</a>

        </h1>
    }
</div>
<style>
    a{
        text-decoration: none;
        color: white;
        transition: font-size 0.3s ease-in-out;
    }

    #log:hover{
        color:white;
        font-size: 150%;
    }

    #reg:hover {
        color: white;
        font-size: 150%;
    }
</style>